* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.hero {
  width: 100%;
  height: 100vh;
  /* background-image: url(assets/img/background2.png); */

  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.logo {
  width: auto;
  height: 100%;
  margin-top: 20px;
  cursor: pointer;
}

.beforenavbar {
  background-image: url(assets/img/1.jpg);
  /* background-size: cover; */
}

.navbar {
  width: 85%;
  height: 7%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.centeredHbd {
  margin-right: 200px;

  display: flex;
  align-items: space-between;
  justify-content: space-between;
}

button {
  color: #fff;
  padding: 10px 25px;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
}

button:hover {
  background: transparent;
  border: 2px solid #fe7250;
}

#button2 {
  color: #000;
  padding: 10px 25px;
  background: transparent;
  border: 1px solid #000;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
}

#button2:hover {
  background: transparent;
  border: 2px solid #ff0000;
  color: #ff0000;
}

.content {
  color: #000;
  position: absolute;
  top: 40%;
  left: 8%;
  transform: translateY(-50%);
  z-index: 2;
}

h1 {
  font-size: 50px;
  margin: 10px 0 30px;
  line-height: 60px;
}

.side-bar {
  width: 36px;
  margin-left: -10px;
  height: 50vh;
  /* background: linear-gradient(#00545d, #000729); */
  display: flex;
  align: center;
}

.menu {
  display: block;
  width: 25px;
  margin: 40px auto 0;
  cursor: pointer;
}

.social-links img,
.useful-links img {
  width: 35px;
  margin: 5 px auto;
  cursor: pointer;
}

.social-links {
  width: 50px;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.useful-links {
  width: 50px;
  text-align: center;
  position: absolute;
  bottom: 30px;
}
.bubbles img {
  width: 90px;
  animation: bubble 7s linear infinite;
}

.bubbles {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: -70px;
}

@keyframes bubble {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: translateY(-80vh);
    opacity: 0;
  }
}

.bubbles img:nth-child(1) {
  animation-delay: 2s;
  width: 35px;
}
.bubbles img:nth-child(2) {
  animation-delay: 1s;
}
.bubbles img:nth-child(3) {
  animation-delay: 3s;
  width: 45px;
}
.bubbles img:nth-child(4) {
  animation-delay: 4.5s;
}
.bubbles img:nth-child(5) {
  animation-delay: 3s;
}
.bubbles img:nth-child(6) {
  animation-delay: 6s;
  width: 40px;
}
.bubbles img:nth-child(7) {
  animation-delay: 7s;
}

.banner {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.slider {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  overflow: scroll;
}

#slideImg {
  width: 100%;
  height: 100%;
}

.overlay {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25));
  position: absolute;
  top: 0;
}

* {
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;

  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .centeredHbd {
    display: block;
  }
  #img1 {
    display: flex;
    width: 800px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .centeredHbd {
    display: block;
  }
  #img1 {
    display: flex;
    width: 800px;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .centeredHbd {
    display: block;
  }
  #img1 {
    display: flex;
    width: 800px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .centeredHbd {
    display: block;
  }
  #img1 {
    display: flex;
    width: 800px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .centeredHbd {
    margin-right: 200px;
    display: flex;
    align-items: space-between;
    justify-content: space-between;
  }
}

.content h1 {
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  background: url(assets/img/back.png);
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: back 20s linear infinite;
}

@keyframes back {
  100% {
    background-position: 2000px 0;
  }
}

.step-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: -440px;
}

.step-container .step {
  background: #fff;
  margin: 1rem;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.9);
  text-align: center;
  flex: 1 1 30rem;
}

.step-container .step span {
  font-size: 7rem;
  color: var(--pink);
  font-weight: bolder;
}

.step-container .step h3 {
  font-size: 3rem;
  color: var(--black);
}

.step-container .step p {
  font-size: 1.5rem;
  color: #666;
  padding: 1rem 0;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 600px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.container2 {
  height: 350px;
  width: 350px;
  background: #4ed4c6;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 10px gray;
  transition: 3s all;
}
.container2 div {
  height: 50%;
  width: 200px;
  clip-path: polygon(100% 0, 50% 100%, 0 0);
  transform: translateX(-50%);
  transform-origin: bottom;
  position: absolute;
  left: 21%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-family: monospace;
  font-weight: 1000;
  color: #008276;
  writing-mode: vertical-rl;
}
.container2 .one {
  background: #baf4ee;
  left: 50%;
}
.container2 .two {
  background: #4ed4c6;
  transform: rotate(60deg);
}
.container2 .three {
  background: #baf4ee;
  transform: rotate(120deg);
}
.container2 .four {
  background: #4ed4c6;
  transform: rotate(180deg);
}
.container2 .five {
  background: #baf4ee;
  transform: rotate(240deg);
}
.container2 .six {
  background: #4ed4c6;
  transform: rotate(300deg);
}
.mid {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  position: absolute;
  background: #008276;
}
#spin {
  height: 60px;
  width: 200px;
  background: #4ed4c6;
  position: absolute;
  margin-top: 600px;
  font-size: 30px;
  color: white;
  font-weight: 1000;
  letter-spacing: 4px;
  border: 1px solid white;
  cursor: pointer;
  box-shadow: 0 5px 10px gray;
  transition: 0.2s all;
}
#spin:hover {
  box-shadow: none;
}
.stoper {
  height: 50px;
  width: 40px;
  background: #ffd600;
  position: absolute;
  clip-path: polygon(100% 0, 50% 100%, 0 0);
  margin-top: -350px;
}

text {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11px;
  pointer-events: none;
}
#chart {
  position: absolute;
  width: 50px !important;
  height: 50px !important;
  top: 100;
  left: 320;
}
#question {
  position: absolute;
  width: 300px;
  height: 500px;
  top: 100;
  left: 820px;
}
#question h1 {
  font-size: 30px;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: absolute;
  padding: 0;
  margin: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
